@font-face {
  font-family: 'cookieRun';
  src: url('./assets/fonts/CookieRunRegular.otf');
}

@font-face {
  font-family: 'inter';
  src: url('./assets/fonts/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 56px;
  height: 56px;
}
.lds-ellipsis div {
  position: absolute;
  top: 25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: gray;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 4px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 4px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 15px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 20px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(10px, 0);
  }
}
