@font-face {
  font-family: 'cookieRun';
  src: url('./assets/fonts/CookieRunRegular.otf');
}

@font-face {
  font-family: 'inter';
  src: url('./assets/fonts/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
