spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${AWS_RDS_Endpoint}/ott?useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
    username: ${RDS_Mysql_Admin_id}
    password: ${RDS_Mysql_Admin_password}
  jpa:
    database: mysql
    properties:
      hibernates:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
      format_sql: true
    show-sql: true
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: 94997750425-uhfcb78sb0veqnehh3dfghmd57eac6aq.apps.googleusercontent.com
            clientSecret: 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
            scope:
              - email
              - profile
          naver:
            client-id: l96jJOaCltiFH52RtFeI
            client-secret: YCH_bRY2oK
            client-name: Naver
            redirect-uri: "http://ec2-43-202-91-184.ap-northeast-2.compute.amazonaws.com:8080/login/oauth2/code/naver"
            authorization-grant-type: authorization_code
            scope:
              - name
              - email
              - profile_image
          kakao:
            client-id: ed55347aebff657d166a56d7fe352897
            client-secret: ejmftexg9aPj2YroYV5z7ooxXSDnTDpE
            client-name: Kakao
            client-authentication-method: POST
            redirect-uri: "http://ec2-43-202-91-184.ap-northeast-2.compute.amazonaws.com:8080/login/oauth2/code/kakao"
            authorization-grant-type: authorization_code
            scope:
              - profile_nickname
              - account_email
              - profile_image

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
          kakao:
            authorizationUri: https://kauth.kakao.com/oauth/authorize
            tokenUri: https://kauth.kakao.com/oauth/token
            userInfoUri: https://kapi.kakao.com/v2/user/me
            userNameAttribute: id



config:
  domain: ${AWS_S3_Endpoint}
logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG
server:
  servlet:
    encoding:
      force-response: true
mail:
  address:
    admin: admin@gmail.com
jwt:
  key: ${JWT_SECRET_KEY}
  access-token-expiration-minutes: 30
  refresh-token-expiration-minutes: 420